@page
@model sistemE.Pages.Situacoes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Deseja apagar isso?</h3>
<div>
    <h4>Situacao</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Situacao.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Situacao.Descricao)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Situacao.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Voltar a lista</a>
    </form>
</div>
