@page
@model sistemE.Pages.Situacoes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Situacao</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Situacao.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Situacao.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Situacao.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
